{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ categoryOne.name }}</h1>
        </div>
    </div>

    {% for program in programs %}
        <div>
            <h2><a href="{{ path('program_show', {id: program.id})}}">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</a></h2>
            <p>{{ program.synopsis }}</p>
        </div>
        <div>
        <a href="{{ path('category_show', {link: categoryOne.link, limit: 0}) }}">
            Voir complete liste des programmes pour cette catégorie
        </a>
    </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <div>
        <a href="{{ path('category_index') }}">
            Retour à la liste des catégories
        </a>
    </div>
    <div>
        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}