{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Modifier serie {{ program.title }}{% endblock %}
{% block body %}
    <h1>Modifier serie {{ program.title }}</h1>
    {{ form_start(form, {attr: {'class' : 'form-center','method': 'POST'}}) }}  
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {# form_row(form.name, {'attr': {'class': 'foo'},'label': 'Titre', 'label_attr': {'class': 'test'}}) #}
    <button type="submit">Modifier serie</button>
    {{ form_end(form) }}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}